<div class="dashboard-container">
    <h2 class="dashboard-title">Super Admin Dashboard</h2>
    
    <div class="grid-container">
      <div class="card">
        <h3>Total Faculty</h3>
        <p>{{ totalFaculty }}</p>
      </div>
  
      <div class="card">
        <h3>Total Students</h3>
        <p>{{ totalStudents }}</p>
      </div>
  
      <div class="card">
        <h3>Total Courses</h3>
        <p>{{ totalCourses }}</p>
      </div>
  
      <div class="card">
        <h3>Ongoing Exams</h3>
        <p>{{ ongoingExams }}</p>
      </div>
      <div class="card">
        <h3>Pending approvals</h3>
        <p>{{ pendingapprovals }}</p>
      </div>
    </div>
  </div>
  