<div class="search-container">
  <input
    type="text"
    placeholder="🔍 Search by name, username, or department..."
    [(ngModel)]="searchQuery"
    class="search-bar"
  />
</div>

<div class="card-container">
  <div class="faculty-card" *ngFor="let faculty of filteredFaculties()">
    <h3 class="faculty-name">{{ faculty.name }}</h3>
    <p class="faculty-username">{{ faculty.username }}</p>
    <ul class="faculty-details">
      <li><strong>Email:</strong> {{ faculty.email }}</li>
      <li><strong>Department:</strong> {{ faculty.department }}</li>
      <li><strong>Designation:</strong> {{ faculty.designation }}</li>
      <!-- <li><strong>status:{{faculty.status}}</strong></li> -->
      <li>
        <strong>Status:</strong>
        <span
          [ngClass]="{
            'status-approved': faculty.status === 'APPROVED',
            'status-pending': faculty.status === 'PENDING_APPROVAL'
          }"
        >
          {{ faculty.status }}
        </span>
      </li>
    </ul>

    <div class="action-buttons">
      <button
        class="btn-approve"
        *ngIf="faculty.status === 'PENDING_APPROVAL'"
        (click)="approveFaculty(faculty.userId)"
      >
        ✅ Approve
      </button>
      <button class="btn-delete" (click)="deleteFaculty(faculty.id)">
        ❌ Delete
      </button>
    </div>
  </div>
</div>
