<div class="register-container">
    <h2>Student Registration</h2>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      
      <label>Name</label>
      <input type="text" formControlName="name" placeholder="Enter your name">
      
      <label>Roll Number</label>
      <input type="text" formControlName="rollNo" placeholder="Enter roll number">
      
    
      
      <label>Department</label>
      <select formControlName="department">
        <option value="">Select Department</option>
        <option value="IST">IST</option>
        <!-- <option value="ECE">ECE</option>
        <option value="EEE">EEE</option>
        <option value="MECH">MECH</option> -->
      </select>
      
      <label>Branch</label>
      <input type="text" formControlName="branch" placeholder="Enter branch">
      
      <label>Batch</label>
      <input type="text" formControlName="batch" placeholder="Enter batch">
      
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="Enter password">
      
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" placeholder="Confirm password">
      
      <button type="submit" [disabled]="!studentForm.valid">Register</button>
    </form>
  </div>
  